<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Blog posts</title>
    <meta name="description" content="">
    <meta name="viewport" content="width:device-width,initial-scale=1">
    <link rel="stylesheet" th:href="@{indexStyle.css}">

    <script
            src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>

</head>
<body>


<main>

    <header class="div1">
        <a th:href="@{/}"> <img class="logo" src="BlogPostLogo.png" alt="logo"></a>
        <nav>
            <ul class="navLinks">
                <li><a href="/userlogin" target="_blank">Author Login</a></li>
                <li><a href="/user_signup" target="_blank">Author SignUp</a></li>
                <li><a href="/logout">Author logout</a></li>
                <li><a href="/post">Admin Login</a></li>
            </ul>
        </nav>

    </header>

    <div class="main-container">
        <div>
            <h1>My Blog Posts</h1>

        </div>
        <div>
            <form action="/post">
                <input type="hidden" name="email" th:value="${userName}">
                <input type="hidden" name="password" th:value="${password}">
                <button style="height: 25px; width: 50%;">Add New Post</button>

            </form>
        </div>
    </div>


    <div class="row">

        <div class="column" th:each="items : ${post}">

            <div class="card">
                <form action="edit" method="post">

                    <h2 th:text="${items.title}">Title</h2>
                    <h3 th:text="${items.excerpt}"></h3>
                    <P th:text="${items.content}"></P>
                    <h4 th:text="${items.author}">Author</h4>
                    <h5 th:text="${items.publishedAt}">Publish Date</h5>

                    <input type="text" style="display:none" name="id" th:value="${items.id}">
                    <input type="text" style="display:none" name="title" th:value="${items.title}">
                    <input type="text" style="display:none" name="excerpt" th:value="${items.excerpt}">
                    <input type="text" style="display:none" name="content" th:value="${items.content}">
                    <input type="text" style="display:none" name="author" th:value="${items.author}">
                    <input type="text" style="display:none" name="publishedAt" th:value="${items.publishedAt}">
                    <input type="text" style="display:none" name="createdAt" th:value="${items.createdAt}">
                    <input type="text" style="display:none" name="isPublished" th:value="${items.published}">
                    <input type="text" style="display:none" name="visitor_id" th:value="${items.visitor_id}">
                    <button style="padding:4px 30px;margin:5px;">Edit</button>

                </form>
            </div>

        </div>


    </div>

    <div class="footer">
        <p> Footer</p>
    </div>
</main>


</body>
</html>