<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MountBlue Blog Post</title>
    <meta name="description" content="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <meta name="viewport" content="width:device-width,initial-scale=1">
    <link rel="stylesheet" th:href="@{indexStyle.css}">
    <style>
      .tagStyle {
    margin: 0 10px;
    background: #888282;
    color: white;
    box-sizing: content-box;
}

    </style>
</head>
<body>


<main>
    <header class="div1">
        <a th:href="@{/}"> <img class="logo" src="BlogPostLogo.png" alt="logo"></a>
        <nav>
            <ul class="navLinks">
                <li><a href="/userlogin" target="_blank">Author Login</a></li>
                <li><a href="/user_signup" target="_blank">Author SignUp</a></li>
                <li><a href="/post">Admin Login</a></li>
            </ul>
        </nav>

    </header>


    <div class="row">

        <div class="column" style="margin-left: 25%;" th:each="items : ${post}">

            <div class="card" style="padding: 39px;">
                <h2 th:text="${items.title}">Title</h2>
                <h3 th:text="${items.excerpt}"></h3>
                <P th:text="${items.content}"></P>
                <h4 th:text="${items.author}">Author</h4>
                <h5 th:text="${items.publishedAt}">Publish Date</h5>
                <div id="tags"></div>
            </div>
            <form action="saveComment" method="post">
                <section style="margin-top: 35px;margin-left: 37.5%;">
                    <div>
                        <table>
                            <thead>
                            <tr>
                                <th>Post Your Comment</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><input style="display:none;" type="text" name="id" th:value="${items.id}"></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="name" placeholder="Enter Your Name" required></td>
                            </tr>
                            <tr>
                                <td><input type="email" name="email" placeholder="Enter Your Email" required></td>
                            </tr>
                            <tr>
                                <td><textarea name="comment" placeholder="Share your thoughts ..."
                                              required></textarea><br></td>
                            </tr>
                            <tr>
                                <td><input type="submit" name="submit button"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </section>
            </form>
            <br>


            <form action="#">
                <input style="display:none" type="text" id="postId" th:value="${items.id}">

                <div>
                    <ol style="list-style-type: none;">
                    </ol>
                </div>

            </form>
        </div>
    </div>

    <div class="footer">
        <p> Footer</p>
    </div>
</main>

<script type="text/javascript">
$( document ).ready(function() {
   let id = $("#postId").val();

			$.ajax({
				url : "getComment",
				type : "get",
				data : {
					"postId" : id
				},
				success : function(data) {
                          console.log(data);
                         var res = data.split(",");

                        for(var i=res.length;i>0;i--){
                                  if(res[i] === 'null' || res[i] ==="" || res[i] ===undefined)
                                        continue;

                               $("ol").append("<li>"+res[i]+"</li>");
                        }

				}

			});

			$.ajax({
				url : "getTags",
				type : "get",
				data : {
					"postId" : id
				},
				success : function(data) {
                          console.log(data);
                         var res = data.split(",");

                        for(var i=res.length;i>0;i--){
                                  if(res[i] === 'null' || res[i] ==="" || res[i] ===undefined)
                                        continue;

                               $("#tags").append("<span class='tagStyle'>"+res[i]+"</span>");
                        }

				}

			});

		});
</script>


</body>
</html>